@model IEnumerable<GigaKino.ObjectsDTO.KontoDTO>
@{
    ViewData["Title"] = "MojeKOnto";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @if (Model != null && Model.Any())
    {
        foreach (var konto in Model)
        {
            <p>Id: @konto.IdKonto</p>
            <p>login: @konto.Login</p>
            <p>Hasło: @konto.Haslo</p>
        }
    }
    else
    {
        <p>Brak dostępnych filmów.</p>
    }
</body>
</html>