<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GigaKino</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />y *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GigaKino.styles.css" asp-append-version="true" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <div class="container">
            <div class="text-container">
                <h1>GigaKino</h1>
            </div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    <img src="~/img/Icons.png" alt="Icon">
                    KONTO
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="login.html">
                        <img src="~/img/Icons2.png" alt="Icon">
                        Logowanie
                    </a>
                    <a href="signup.html">
                        <img src="~/img/edit.png" alt="Icon">
                        Rejestracja
                    </a>
                </div>
            </div>
        </div>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Filmy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Repertuar">Repertuar</a>
            </li>
        </ul>
    </header>
    <div id="shared-outer-container" class="outer-container">
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
