body {
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-color: #0D0D0D;
    color: #BFBDBF;
}

*{
    cursor: default;
}

h1 {
    color: #A63740;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 40px;
}

.dropbtn {
    background-color: #0D0D0D; /* Чёрный цвет фона кнопки */
    color: #BFBDBF; /* Белый цвет текста */
    font-size: 15px; /* Размер шрифта кнопки */
    padding: 7px 15px; /* Внутренние отступы кнопки */
    border: 2px solid #BFBDBF; /* Белая граница */
    border-radius: 10px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход цвета */
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropbtn:hover, .dropbtn:focus {
    font-weight: bold; /* Жирный текст при наведении */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    font-weight: bold;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropbtn img {
    width: 24px; /* Ширина изображения */
    height: 24px; /* Высота изображения */
    margin-right: 5px; /* Отступ между изображением и текстом */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.text-container {
    flex-grow: 1; /* Дает тексту занимать оставшееся пространство */
    margin-right: 20px; /* Отступ справа для расстояния между текстом и кнопкой */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A63740;
    display: flex;
    justify-content: center; /* Центрируем элементы списка */
}

li {
    margin: 0; /* Убираем внешние отступы у элементов списка */
}

li a {
    display: block;
    color: #0D0D0D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover {
    /*font-weight: bold;*/
}

.active {
    font-weight: bold; /* Жирный текст при наведении */
}

main {
    padding: 20px;
}

.location {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin-bottom: 20px;
}

.location img, img {
    width: 24px; /* Ширина изображения */
    height: 24px; /* Высота изображения */
    margin-right: 5px; /* Отступ между изображением и текстом */
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
    background-color: #0D0D0D;
    color: #BFBDBF;
    border: none;
}

select::after {
    content: '▼';
    font-size: 10px;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
}

select option {
    background-color: white;
    color: #0D0D0D;
    border: #0D0D0D;
}

select:focus {
    outline: none;
}

.date-selection {
    display: flex;
    gap: 5px;
    margin-left: 26px;
    margin-top: 20px;
}

.day {
    color: #BFBDBF;
    padding: 5px 10px;
}

.day.active {
    color: #A63740;
}

.day.selected {
    color: #A63740;
}

/* Скрываем стандартный <input type="date"> */
input[type="date"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Стили для метки, которая будет отображать значок календаря */
.date-label {
    display: inline-block;
    width: 40px; /* Ширина и высота кнопки */
    height: 40px;
    background-color: #0D0D0D; /* Цвет фона */
    border-radius: 5px; /* Скругленные углы */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Позиционирование значка календаря */
.date-label::after {
    content: '';
    background-image: url('img/calendar.png'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Растягивает изображение, чтобы оно заполнило псевдоэлемент */
    background-position: center;
    width: 20px; /* Размер изображения */
    height: 20px; /* Размер изображения */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Изображение не должно блокировать клик */
}

#gatunek-select select {
    border: 2px solid #BFBDBF; /* Белая граница */
    border-radius: 10px; /* Скругленные углы */
    cursor: pointer; /* Курсор при наведении */
}

#dzisiaj {
    margin-left: 35px;
}

.movies {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 35px;
    margin-top: 30px;
}

.movie {
    display: flex;
    background-color: #0D0D0D;
    overflow: hidden;
    margin-bottom: 20px;
}

.movie img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.details {
    padding: 10px;
    margin-left: 20px;
}

.details h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

.details p {
    margin: 5px 0;
    font-size: 14px;
}

.showtimes {
    display: flex;
    gap: 10px;
    margin-top: 120px;
}

.showtimes button {
    background-color: #A63740;
    color: #0D0D0D;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    width: 100px;
}

.showtimes button:hover {
    background-color: #BF5669;
}