@{
    ViewData["Title"] = "Repertuar";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Repertuar</title>
<<<<<<< HEAD
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/repertuar_style.css">
    <script src="~/js/function.js" defer></script>
    <script src="~/js/repertuar_fun.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="text-container">
                <h1>GigaKino</h1>
            </div>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    <img src="~/img/Icons.png" alt="Icon">
                    Użytkownik
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="konto.html">Moje konto</a>
                    <a href="index.html">Wyloguj</a>
                </div>
            </div>
        </div>
        <ul>
            <li><a href="/Home/Index">Filmy</a></li>
            <li><a class="active">Repertuar</a></li>
        </ul>
    </header>

    <main>
        <section class="location">
            <img src="~/img/map.png" alt="Icon">
            <select name="lokalizacja" id="lokalizacja-select">
                <option value="wroclawia">Wrocław - Wroclavia</option>
                <option value="pasaz">Wrocław - Pasaż</option>
                <option value="katowice">Katowice</option>
            </select>
        </section>
        <div class="date-selection">
            <div id="weekdays">
                <a class="day">Dziś</a>
                <a class="day">Nd</a>
                <a class="day">Pn</a>
                <a class="day">Wt</a>
                <a class="day">Śr</a>
                <a class="day">Cz</a>
                <a class="day">Pt</a>
            </div>
            <label for="date-input" class="date-label">
                <input type="date" id="date-input">
            </label>
            <select name="gatunek" id="gatunek-select">
                <option value="0">Rodzaj seansu</option>
                <option value="1">Wszystkie</option>
                <option value="2">2D</option>
                <option value="3">3D</option>
                <option value="4">IMAX</option>
                <option value="5">VIP</option>
            </select>
        </div>
        <label id="dzisiaj"></label>
        <section class="movies">
            <article class="movie">
                <img src="~/img/diuna.jpg" alt="Diuna: Część Druga">
                <div class="details">
                    <h2>DIUNA: CZĘŚĆ DRUGA</h2>
                    <p>Sci-Fi | od 13 lat | 165 min</p>
                    <div class="showtimes">
                        <button>19:30<br>2D, Napisy</button>
                        <button>20:30<br>IMAX, PL</button>
                    </div>
                </div>
            </article>
            <article class="movie">
                <img src="~/img/godzila.jpg" alt="Godzilla i Kong: Nowe Imperium">
                <div class="details">
                    <h2>GODZILLA I KONG: NOWE IMPERIUM</h2>
                    <p>Akcja | od 13 lat | 115 min</p>
                    <div class="showtimes">
                        <button>19:15<br>2D, Napisy</button>
                    </div>
                </div>
            </article>
            <article class="movie">
                <img src="~/img/panda.jpg" alt="Kungfu panda">
                <div class="details">
                    <h2>KUNG FU PANDA 4</h2>
                    <p>Animowany, Komedia | od 6 lat | 93 min</p>
                    <div class="showtimes">
                        <button>18:10<br>2D, PL</button>
                    </div>
                </div>
            </article>
        </section>
    </main>
=======
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <script src="js/function.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <p>Repertuar</p>
>>>>>>> 3a04c633616b5fe7b9801557b28b797983c054b4
</body>
</html>
