@* @model GigaKino.ObjectsDTO.SeansDTO *@
@using GigaKino.ObjectsDTO
@model Tuple<SeansDTO, FilmDTO, SalaDTO, KinoDTO>
@{
    ViewData["Title"] = "StronaTestowa2";
}
@section Head{
    <meta name="viewport" content="width=device-width" />
    <title>Repertuar</title>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/repertuar_style.css">
    <script src="~/js/function.js" defer></script>
    <script src="~/js/repertuar_fun.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}


<section class="Details">
    <p>@Model.Item1.Termin</p>
    <p>@Model.Item2.Tytul</p>
    <p>sala nr @Model.Item3.Numer</p>
    <p>@Model.Item4.Nazwa</p>
</section> 
